.full-post {
    word-wrap: break-word;
}

.full-post .post-title {
    margin: 20px 0;
}

.post-icons {
    justify-content: flex-start;
    align-items: center;
}

.post-intro {
    line-height: 2rem;
}

.recent-tweets {
    display: none;
}

.post-content p {
    line-height: 2rem !important;
    font-size: 17px;
}


.post-content img {
    height: 380px;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}


.post-content h2, .post-content h3 {
    margin: 25px 0;
}

.post-content figcaption {
    font-size: 13.5px;
    text-align: center !important;
}

.post-content .link-cyan {
    color: var(--main-color);
    transition: all 0.3s ease;
}

.post-content .link-cyan:hover {
    text-shadow: 0px 1px 10px var(--main-color);
}

.post-content ul {
    margin-left: 2rem;
}

.post-content pre {
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    border: 2px solid #dddddd;
}

.post-content code, .post-content samp, .post-content kbd, .post-content var {
    display: inline-block;
    color: #555555;
    padding: 3px 8px;
    line-height: 2rem;
    font-size: 15px !important;
    
}

.comment-owner {
    font-size: 20px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.3) !important;
}

.comment-head {
    font-size: 15px;
    font-style: oblique;
    color: rgba(255, 255, 255, 0.7) !important;
}


.comments {
    background: #262626;
    border-radius: 10px;
}

.comments hr, hr {
    height: 0.1px;
    color: unset;
    border-top: 1px solid gray;
}

.reply-button, .submit-comment {
    background-color: var(--main-color-dark);
    color: black;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.35s ease;
}

.reply-button:hover, .submit-comment:hover {
    color: var(--dark);
    background-color: white
}


.single-comment {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.single-comment img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}

label {
    display: none;
}

.form-control {
    background-color: #f0f0f0 !important;
    border-radius: 10px;
    padding: 20px;
    min-width: 100%;
}

.form-control:focus {
    background-color: #f0f0f0 !important;
}

.errorlist {
    list-style-type: none;
}

.errorlist li {
    color: red;
    font-weight: 400;
}

input {
    box-sizing: border-box;
  }
  

  
.tag-headerblock {
    border-radius: 10px;
    width: 100%;
}

.tag-header {
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .tag-icon {
    position: absolute;
    top: 0.2rem;
    left: auto;
    height: 88px;
    width: 88px;
    border-radius: 50px;
    background-color: var(--main-color-dark);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.tag-header img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 45px;
    color: var(--dark);
}

.tag-icons {
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.tag-icons img{
    color: var(--dark);
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.carousel-indicators {
    margin-bottom: 35px;
}

.share-container {
    border-top: 0.05px solid rgba(255, 255, 255, 0.05);
    border-bottom: 0.05px solid rgba(255, 255, 255, 0.05);
}

.share-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.share-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.share-icons a {
    color: white;
}


.share-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: var(--main-color);
}

.share-icons .facebook {
    background-color: #135cb6;
    transition: all 0.35 ease;
}

.share-icons .facebook:hover {
    box-shadow: 0px 1px 15px #135cb6;
}

.share-icons .twitter {
    background-color: #00aced;
    transition: all 0.35 ease;
}

.share-icons .twitter:hover {
    box-shadow: 0px 1px 15px #00aced;
}

.share-icons i {
    font-size: 18px;
}

.sub-categories a {
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.35s ease;
}

.sub-categories a:hover {
    color: var(--main-color);
}

.sub-categories i {
    color: var(--main-color);
}

.share-icons .reddit {
    background-color:#ff5700;
    transition: all 0.35 ease;
}

.share-icons .reddit:hover {
    box-shadow: 0px 1px 15px #ff5700;
}

.share-icons .telegram {
    background-color:#0088cc;
    transition: all 0.35 ease;
}


.share-icons .telegram:hover {
    box-shadow: 0px 1px 15px #0088cc;
}

.share-icons .whatsapp {
    background-color:#1fb381;
    transition: all 0.35 ease;
}

.share-icons .whatsapp:hover {
    box-shadow: 0px 1px 15px #1fb381;
}

.share-link {
    display: inline-flex;
}

.share-link-input {
    width: 350px;
    border-radius: 10px;
    border: none;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    background-color: #f4f4f4dc;
    color: rgb(82, 81, 81);
    font-weight: 500;
    cursor: default;
    border-right: #f4f4f4dc;
}

.share-link-input:focus {
    outline: none;
}

.share-link .copy-btn {
    border: none;
    background-color: #222;
    color: var(--main-color);
    border-left: #f4f4f4dc;
    cursor: pointer;
}

.share-link .copy-btn:focus {
    outline: none;
}


.related-header {
    border-top: 1px solid white;
    width: fit-content;
    font-size: 12px;
}

.related-article {
    font-size: 13px;
}


.related-title {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
}

.related-time {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 300;
}

.like, .dislike {
    cursor: pointer;

}


.like-dislike button {
    color: var(--dark);
    font-weight: 500;
    transition: 0.3s ease;
    border: none !important;
    border-radius: 5px;
    
}

.like-dislike button:hover {
    color: var(--main-color-dark);
    
}

.like-dislike button:focus, .like-dislike button:active {
    outline: none;
    border: none;
}



.author-me a {
    font-size: 20px !important;
}


.previous-post {
    position: absolute !important;
    bottom: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 0.65);
}

.next-post {
    position: absolute !important;
    bottom: 10px;
    right: 10px;
    color: rgba(255, 255, 255, 0.65);
}

.card .date i {
    color: var(--main-color);
}


@media (min-width: 768px) and (max-width: 900px) {
    .post-img-area {
        height: 250px !important;
    }

    .post-content .body_img {
        height: 250px;
    }

    .post-content h2 {
        font-size: 28px;
    }

    .post-content h3 {
        font-size: 26px;
    }

    .full-post .post-title {
        font-size: 28px;
    }
}

@media screen and (max-width:900px) {
    .share-content{
        display: block;
    }

    .share-content h5 {
        font-size: 18px;
    }

    .share-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background-color: var(--main-color);
    }

    .share-link-input {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .post-content p, .post-intro {
        line-height: 2rem !important;
        font-size: 17px;
    }
}

@media screen and (max-width:480px) {
    .post-content .body_img, .post-content img{
        height: 200px !important;
    }

    .btn.tag {
        display: none;
    }
 
    .post-title {
        font-size: 22px;
    }

    .post-intro {
        font-size: 14px;
    }

    .post-content h1, .post-content h2, .post-content h3 {
        font-size: 22px;
    }

    .post-content p,  .post-intro{
        font-size: 14px;
    }

    .author-me p{
        font-size: 14px;
    }

    .author-me h2{
        font-size: 20px;
    }

}