{% extends 'base.html' %}
{% load static %}
{% block link %} 
<link rel="stylesheet" href="{% static 'store/styles/main.css' %}"> 
{% block sublink %}{% endblock sublink %}
<script type="text/javascript">
    var user = '{{request.user}}'
    function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    const csrftoken = getToken('csrftoken');

    function getCookie(name) {
        var cookieArr = document.cookie.split(";");

        for (var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");
        }

        if (name == cookiePair[0].trim()) {
            return decodeURIComponent(cookiePair[1]);
        }

        return null;
    }

    var cart = JSON.parse(getCookie('cart'))

    function uuid() {
        return 'xxx4xxyxxx0xxyxxx1xxyxxx6xxx1xxyxxxy'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      }    


    if (cart==undefined) {
        cart = {'items': {},}
        cart['order_id'] = uuid()
        console.log('Cart was created:')
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }

    //console.log('Cart:', cart)
</script>
{% endblock link %}
{% block title %}Store | {% endblock title %}
{% block rowslider %}

{% endblock rowslider %}
{% block scripts %}
<script src="{% static 'store/scripts/cart.js' %}"></script>
{% block addedscripts %}{% endblock addedscripts %}
{% endblock scripts %}