{% extends 'store/main.html' %}
{% load static %}
{% block title %}Store | {% endblock title %}
{% block rowslider %}
<section class="mx-lg-3 pt-lg-5" data-aos="fade-up">
    <div class="my-5 mx-lg-3 mx-md-4 m-lg-5 p-3 p-lg-5">
        <h1 class="pb-3 mb-2 mb-lg-4 heading text-white">Buy products and softwares</h1>
        
        <div class="row all-products">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 shadow">
                <img class="thumbnail" src="{{product.imageURL}}" alt="product-img">
                <div class="box-element product">
                    <h4 class="text-white pb-5 mb-4"><strong>{{product.name}}</strong></h4>
                    <button id="update-cart" data-product={{product.id}} data-action="add" class="btn add-btn store-btn update-cart">Add to Cart</button>
                    <a href="{% url 'view_product' product.name %}" class="btn btn-outline-secondary store-btn">View</a>
                    <h4 class="price">${{product.price|floatformat:2}}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>
{% endblock rowslider %}





