<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
    <style>
        a {
            text-decoration: none;
            color:  turquoise;
        }
    </style>
</head>
<body>
    <h1>Quest Coding Blog - New Comment</h1>
    <p><b>Dear Admin</b></p>
    <p>You have a new comment from {{name}} - {{email}} on the post: <br><br> <b>"{{post}}"</b></p>
    <a href="{{link}}">View here</a>
</body>
</html>