{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'blog/styles/search.css' %}">
{% endblock link %}
{% block titke %}Search |{% endblock titke %}

{% block landing_page_content %}
<section class="result-header text-center mt-5 w-100" data-aos="fade-up">
    <h1 class=" text-white p-5">Search results for: "{{query}}"</h1>
    <form class="search-form" action="{% url 'search' %}" method="GET">
        <input type="search" name="query" value="{{query}}" class="textbox" placeholder="Search">
        <button title="Search"  type="submit" class="button"><i class="bi bi-search"></i></button>
    </form>
</section>
{% endblock landing_page_content %}

{% block contents %}
{% for post in current_page %}

<div class="col-md-12 mb-5 pb-2 post" id="text" data-aos="fade-up">
    <div class="tag-area">
        {% for i in post.category.all %}
        <a href="{% url 'category' i.slug %}" class="btn tag mr-2">{{i}}</a>
        {% endfor %}
    </div>

    <div class="post-img-area p-lg-2 pt-3 pt-lg-4 pb-0">
        <img src="{{post.post_img.url}}" class="post-img" alt="post image">
    </div>
    <h2 class="mt-4 text-center mx-4"><a class="post-h2-link" href="{% url 'post_detail' post.slug %}">{{post.title | title}}</a></h2>
    <div class="mt-3 mt-lg-4 text-center mx-lg-4 mx-sm-2 post-icons">
        <p class=""><a href="{% url 'author' post.author.slug %}" class="mr-3 owner"><img class="owner-img mr-2" src="{{post.author.avatar.url}}" alt="author image">{{post.author.name}}
            </a><br class="break-icons"/><i class="bi bi-calendar ml-2 mr-2"></i>{{post.created_at|date:'M. d, Y'}}<a class="comment-link ml-4 mr-2" href="{% url 'post_detail' post.slug %}#comments"><i class="bi bi-chat-dots mr-2"></i>{{post.comments.total|length}}</a><i class="bi bi-eye ml-3 mx-2"></i>{% get_hit_count for post %}
        
        </p>
    </div>
    <p class="text-center mx-lg-5 mx-2 post-detail">{{post.intro|slice:175|add:'....'}}</p>
    <div class="text-center mt-4">
        <a href="{% url 'post_detail' post.slug %}" class="btn continue-reading text-center mb-4">Continue reading</a>
    </div>

</div>
{% empty %}
<h2 class="text-white col-md-12 mb-5 mt-4">No result for the given query: '{{query}}'.....<i class="bi bi-emoji-dizzy"></i></h2>
{% endfor %}
{% if current_page %}
<div class="col-md-12 mb-5 pb-2" data-aos="fade-up">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if current_page.has_previous %}
          <li class="page-item mr-2">
            <a class="page-link previous px-3" href="{% url 'search' %}?query={{query}}&page={{current_page.previous_page_number}}" >Previous</a>
          </li>
          {% endif %}
          <li class="page-item justify-content-center page-link page-of disabled">Page {{current_page.number}} of {{current_page.paginator.num_pages}}</li>
          {% if current_page.has_next %}
          <li class="page-item">
            <a class="page-link ml-2 next px-3" href="{% url 'search' %}?query={{query}}&page={{current_page.next_page_number}}">Next</a>
          </li>
          {% endif %}
        </ul>
      </nav>
</div>
{% endif %}
{% endblock contents %}
{% block scripts %}
<script>
    let searched = "{{query}}"
    if (searched !== "") {
  	let text = document.getElementById("text").innerHTML;
  	let re = new RegExp(searched,"g"); // search for all instances
		let newText = text.replace(re, `<mark>${searched}</mark>`);
		document.getElementById("text").innerHTML = newText;
  }

</script>
{% endblock scripts %}