<div class="code-container">
    <button class="copy-button" data-code="code-1">Copy</button>
    <pre id="code-1">
      console.log("hello bitvhes")
    </pre>
  </div>
  <br><br>
  <div class="code-container">
    <button class="copy-button" data-code="code-2">Copy</button>
    <pre id="code-2">
      print('yesssir')
    </pre>
  </div>
  <br><br>
  <div class="code-container">
    <button class="copy-button" data-code="code-3">Copy</button>
    <pre id="code-3">
      for i in range(199):
        print(i)
    </pre>
  </div>
  <br><br>
  <div class="code-container">
    <button class="copy-button" data-code="code-4">Copy</button>
    <pre id="code-4">
      <!-- Your code here -->
    </pre>
  </div>
  
  <div class="code-container">
    <button class="copy-button" data-code="code-5">Copy</button>
    <pre id="code-5">
      <!-- Your code here -->
    </pre>
  </div>
  