{% extends 'base.html' %}
{% load static %}
{% block link %}
<style>
    .heading {
    font-weight: 600;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.post p {
    color: #f0f0f0;
}

label {
    color: #f0f0f0;
}

.reset-btn {
    font-weight: 500;
    background-color: turquoise;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.35s ease;
}

#id_email {
    padding: 5px 12px; 
}

.reset-btn:hover {
    background-color: white;
}

.middle-content {
    display: none;
}

.bottom-content {
    display: none;
}

.main-section p {
    line-height: 2rem;
}

@media screen and (max-width:450px) {

.heading {
    font-size: 26px;
}

.main-section p {
    font-size: 14px;
}

}
</style>
{% endblock link %}
{% block title %}Reset password | {% endblock title %}
{% block rowslider %}


<section class="mx-lg-3 pt-lg-5 main-section" data-aos="fade-up">
    <div class="my-5 mx-3 m-lg-5 post p-3 p-lg-5 full-post" data-aos="fade-up">
        <h1 class="pb-4 mb-5 heading">Password reset sent</h1>
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            If you didn't receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        
    </div>
</section>



{% endblock rowslider %}
