{% extends 'base.html' %}
{% load static %}
{% block link %}
<style>
    .heading {
    font-weight: 600;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.post p {
    color: #f0f0f0;
}

label {
    color: #f0f0f0;
}

.reset-btn {
    font-weight: 500;
    background-color: turquoise;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.35s ease;
}

#id_email {
    padding: 5px 12px; 
}

.reset-btn:hover {
    background-color: white;
}

.middle-content {
    display: none;
}

.bottom-content {
    display: none;
}

.main-section p {
    line-height: 2rem;
}

.sc-lb {
    display: none;
}

@media screen and (max-width:450px) {

.sc-lb {
    display: block;
}

.heading {
    font-size: 26px;
}

.main-section p {
    font-size: 14px;
}

}
</style>
{% endblock link %}
{% block title %}Reset password | {% endblock title %}
{% block rowslider %}


<section class="mx-lg-3 pt-lg-5 main-section">
    <div class="my-5 mx-3 m-lg-5 post p-3 p-lg-5 full-post">
        <h1 class="pb-4 mb-5 heading">Password reset</h1>

        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <br class="sc-lb">
            <br class="sc-lb">
            <input type="submit" class="btn reset-btn" value="Reset my password">
        </form>
    </div>
</section>



{% endblock rowslider %}