{% extends 'base.html' %}
{% load static %}
{% block link %}
<style>

.continue {
    background-color: cyan;
    font-weight: 600;
    font-size: 18px;
    color: black;
    padding: 10px 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.35s ease;
}

header {
    display: none;
}

.container.bottom-content {
    display: none;
}


.middle-content {
    display: none;
}

footer {
    display: none;
}

.main-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}



.main-section h1 {
    font-size: 90px;
}

/* body {
    background: #f0f0f0;
} */


.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.switch {
    background-color: #fff;
    width: 200px;
    height: 100px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.switch::before {
    position: absolute;
    left: 0;
    content: '';
    background-color: #262626;
    width: 90px;
    height: 90px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.3s;
}

input:checked + .switch {
    background-color: cyan;
}

input:checked + .switch::before {
    background-color: #121212;
    transform: translateX(100px);
}

input {
    display: none;
}

.message .alert {
    font-weight: 500;
    text-align: center;
}

/* .message .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.message .alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
} */


@media screen and (max-width:480px) {


    .main-section p {
    font-size: 18px;
}

.main-section i {
    font-size: 32px;
}

.main-section h1 {
    font-size: 39px;
}
    .heading {
        font-size: 26px;
    }

    .main-section p {
        font-size: 14px;
    }

}
</style>
{% endblock link %}
{% block rowslider %}
<div class="message">
    {% if maintenance_mode %}
    <div class="alert alert-primary" role="alert">
        Maintenance mode is currently active
    </div>
    {% else %}
    <div class="alert alert-secondary" role="alert">
        Maintenance mode is Turned off
    </div>
    {% endif %}
</div>


<section class="main-section">
    <div class="text-center switch-container" data-aos="fade-in">
        <input type="checkbox" {% if maintenance_mode %}checked{% endif %} name="" id="check">
        <label for="check" class="switch" id="switch"></label>
    
    </div>
</section>
{% endblock rowslider %}
{% block author %}
<div class="col-md-4 recent-post" id="owner" >
    <h3>About me</h3>
    <hr>
    <div class="recent-posts">
        <div class="about-me mx-2">
            <img src="{{author.avatar.url}}" class="about-me-img" alt="author image">
            <div>
                <p class="post-description"><a href="">Victor Okolie</a></p>
                <small>Founder & Editor</small><br>
                <div class="about-me-socials mt-1">
                    <a href="{{author.twitter}}" target="_blank" class="btn owner-link"><i class="bi bi-twitter"></i></a>
                    <a href="{{author.github}}" target="_blank" class="btn owner-link"><i class="bi bi-github"></i></a>
                    <a href="{{author.linkedin}}" target="_blank" class="btn owner-link"><i class="bi bi-linkedin"></i></a>
                    <a href="{{author.youtube}}" target="_blank" class="btn owner-link"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
        <p class="mt-3 text-white">{{author.bio}}</p>
    </div>
</div>
{% endblock author %}
{% block scripts %}
<script>
    function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
    $(document).ready(function() {
        $('#switch').click(function() {
            var mode = null
            if ($('#check').is(':checked')) {
                mode = false
            }else {
                mode = true
            }
            $.ajax({
                type: 'POST',
                url: '/maintenance-switch/',
                data: {csrfmiddlewaretoken: csrftoken, 'mode': mode},
                success: function(response) {
                    $('.message').empty()
                    if (response.mode == 'On') {
                        console.log(response.mode)
                        $('.message').html(`<div class='alert alert-success' role='alert'>${response.message}</div>`)
                        $('#check').prop('checked', true)
                        return
                    }
                    else {
                        console.log(response.mode)
                        $('.message').html(`<div class='alert alert-secondary' role='alert'>${response.message}</div>`)
                        $('#check').prop('checked', false)
                        return
                    }
                },
                error: function(response) {
                    console.log(response.mode)
                }
                
            })
        })
    })
</script>
{% endblock scripts %}